header, footer {
  background-color: yellow; /* example */
  text-align: center;
}

header {
    padding: 1.5rem 0rem 1.5rem 0rem;
}

footer {
    padding: 2rem 0rem 2rem 0rem;
}

#main {
  display: flex;
}

.container {
  width: 50%;
}

.container > img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#phobias {
  margin: 1.75rem 1rem 1rem 0;
  background-color: yellow; /* example */
}

.dropdown {
  display: block;
  margin-top: 1.5rem;
  margin: 0;
  width: 161px;
}
.dropdown button {
    margin-top: 0;
}

#custom-fear {
    width: 12rem;
}

.fear-inputs {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
}

#images {
    display: flex;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1.75rem;
    width: 100%;
    flex-wrap: wrap;    
}

div.container.has-text-centered {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    max-height: 15rem;
}

button {
    margin-top: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
}

#num-of-imgs {
    font-size: 24px;
    text-align: center;
}