header, footer {
  background-color: yellow; /* example */
  text-align: center;
}

header {
    padding: 1.5rem 0rem 1.5rem 0rem;
}

footer {
    padding: 2rem 0rem 2rem 0rem;
}

#main {
  display: flex;
}

.container {
  width: 50%;
}

.container > img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#phobias {
  margin: 1.75rem 1rem 1rem 0;
  background-color: yellow; /* example */
}

#fear-btn {
  margin-top: 1rem;
}

.dropdown {
  display: block;
  margin-top: 1.5rem;
}