header, footer {
  background-color: yellow; /* example */
  text-align: center;
}

header {
    padding: 1.5rem 0rem 1.5rem 0rem;
}

footer {
    padding: 2rem 0rem 2rem 0rem;
}

#main {
  display: flex;
}

.container {
  width: 50%;
}

.container > img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#phobias {
  margin: 1.75rem 1rem 1rem 0;
  background-color: yellow; /* example */
}

.dropdown {
  display: block;
  margin-top: 1.5rem;
}

#images {
    display: flex;
    margin: 0;
    width: 100%;
    flex-wrap: wrap;    
}

div.container {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

button {
    margin-top: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
}

.dropdown {
    width: 161px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}